.about__subtitle {
  max-width: 543px;
  font-weight: 300;
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  .about__subtitle {
    font-size: 21px;
  }
}

@media screen and (max-width: 768px) {
  .about__subtitle {
    font-size: 17px;
    text-align: center;
  }
}

@media screen and (max-width: 512px) {
  .about__subtitle {
    font-size: 13px;
  }
}