.footer__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .footer__data {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }
}