.goods__picture {
  width: 89px;
  height: 94px;
}

@media screen and (max-width: 768px) {
  .goods__picture {
    width: 74px;
    height: 79px;
  }
}

@media screen and (max-width: 512px) {
  .goods__picture {
    width: 61px;
    height: 65px;
  }
}