.footer__content {
  margin: 0 auto;
  max-width: 1090px;
  display: flex;
  gap: 6%;
}

@media screen and (max-width: 1240px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}