.topic__punkts {
  padding: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .topic__punkts {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 668px) {
  .topic__punkts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 55px;
  }
}