.goods__link {
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 1240px) {
  .goods__link {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 1024px) {
  .goods__link {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .goods__link {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 512px) {
  .goods__link {
    font-size: 10px;
  }
}