.about__title {
  font-family: var(--font-romile);
  font-weight: 400;
  font-size: 96px;
}

@media screen and (max-width: 1240px) {
  .about__title {
    font-size: 81px;
  }
}

@media screen and (max-width: 1024px) {
  .about__title {
    font-size: 66px;
  }
}

@media screen and (max-width: 768px) {
  .about__title {
    font-size: 51px;
    text-align: center;
  }
}

@media screen and (max-width: 512px) {
  .about__title {
    font-size: 40px;
  }
}