.ticket__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
  justify-content: space-around;
  gap: 40px 30px;
}

@media screen and (max-width: 512px) {
  .ticket__cards {
    grid-template-columns: repeat(auto-fill, minmax(134px, 134px));
  }
}