.category__items {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px 65px;
}

@media screen and (max-width: 1240px) {
  .category__items {
    gap: 25px 55px;
  }
}

@media screen and (max-width: 1024px) {
  .category__items {
    gap: 25px 45px;
  }
}

@media screen and (max-width: 768px) {
  .category__items {
    gap: 25px 45px;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 512px) {
  .category__items {
    gap: 25px 35px;
  }
}